{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}


    <section class="event-form-section event-form-section--image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="event-form-box">
                        <h2 class="heading">What we do:</h2>
                        <h5>This is information about our organization</h5>
                        <h5>Our History</h5>
                        <h5>Our Mission</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}