{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}


    <section class="event-form-section event-form-section--image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="event-form-box">
                        <h2 class="heading">Contact us at:</h2>
                        <h5>Email:midcity@email.com</h5>
                        <h5>Phone number:000-000-0000</h5>
                        <h5>Address:midcity office omaha</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}